* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #000;
}
.container-body {
  max-width: 1440px;
  margin: 0 auto;
}
#header-container {
  max-height: 70px;
}
/* WELCOME SECTION */
.welcome {
  overflow: hidden;
  background: linear-gradient(
    107.17deg,
    #408195 29.35%,
    rgba(0, 210, 135, 0.8) 78.73%
  );
}
.welcome-content {
  display: grid;
  grid-template-rows: 70px calc(100vh - 70px);
  color: #fff;
  height: 100vh;
  margin: 0 auto;
}
@media (min-width: 960px) {
  .welcome {
    height: initial;
  }
}
.welcome__title-content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  text-align: center;
}
