.contact__title,
.contact__form-input,
.contact__form-textarea,
.contact__form-btn {
  font-family: "Poppins", sans-serif;
}
.contact {
  font-family: "Poppins", sans-serif;
  height: calc(100vh - 90px);
  max-height: 900px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (min-width: 769px) {
  .contact {
    flex-direction: row;
  }
}
@media (min-width: 769px) {
  .contact__title-content {
    margin-right: 37px;
    height: 460px;
  }
}
.contact__title {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}
@media (min-height: 580px) {
  .contact__title {
    margin: 20px 0;
  }
}
.contact__form {
  width: 100%;
  max-width: 420px;
  display: grid;
  gap: 27px;
  font-size: 13px;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .contact__form {
    max-width: 450px;
  }
}
.contact__form li {
  list-style: none;
}
.contact__form-label {
  display: flex;
  flex-direction: column;
}
.contact__form-input,
.contact__form-textarea {
  border: 3px solid #2c2c2c;
  border-radius: 4px;
}
.contact__form-input {
  height: 45px;
}
.contact__form-textarea {
  max-width: 420px;
  height: 113px;
  max-height: 113px;
  margin-bottom: 5px;
}
.contact__form-btn {
  font-size: 16px;
  font-weight: 700;
  height: 45px;
  background-color: #2c2c2c;
  border: none;
  border-radius: 4px;
  color: #dbdbdb;
}
@media (min-height: 580px) {
  .contact__form-btn {
    margin-top: 20px;
  }
}
.contact__form-btn:hover {
  outline: solid 2px #fff;
  cursor: pointer;
}
.contact__form-status {
  position: absolute;
  display: none;
}
